<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.grits.toolbox.core.propertyreader">
      <reader
            class="org.grits.toolbox.entry.qrtpcr.property.QrtPCRPropertyReader"
            propertyId="org.grits.toolbox.property.qrtpcr">
      </reader>
      <reader
            class="org.grits.toolbox.entry.qrtpcr.property.QrtPCRMergePropertyReader"
            propertyId="org.grits.toolbox.property.qrtpcr.merge">
      </reader>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            properties="isSampleEntry"
            namespace="org.grits.toolbox.entry"
            type="org.grits.toolbox.core.datamodel.Entry"
            class="org.grits.toolbox.entry.qrtpcr.SampleEntryTester"
            id="org.grits.toolbox.entry.qrtpcr.SampleEntryTester">
      </propertyTester>
      <propertyTester
            properties="isQrtPCREntry"
            namespace="org.grits.toolbox.entry"
            type="org.grits.toolbox.core.datamodel.Entry"
            class="org.grits.toolbox.entry.qrtpcr.QrtPCREntryTester"
            id="org.grits.toolbox.entry.qrtpcr.QrtPCREntryTester">
      </propertyTester>
   </extension>
   <extension
         point="org.grits.toolbox.core.preferencePages">
      <page
            name="qRT-PCR Preference"
            class="org.grits.toolbox.entry.qrtpcr.preference.QrtPCRPreferencePage"
            id="org.grits.toolbox.entry.qrtpcr.preference">
      </page>
      <page
            name="Plate Table"
            category="org.grits.toolbox.entry.qrtpcr.preference"
            class="org.grits.toolbox.entry.qrtpcr.preference.QrtPCRTablePreferencePage"
            id="org.grits.toolbox.entry.qrtpcr.preference.table">
      </page>
      <page
            name="Master Table"
            category="org.grits.toolbox.entry.qrtpcr.preference"
            class="org.grits.toolbox.entry.qrtpcr.preference.QrtPCRMasterTablePreferencePage"
            id="org.grits.toolbox.entry.qrtpcr.table.Master">
      </page>
      <page
            name="Merge Report Table"
            category="org.grits.toolbox.entry.qrtpcr.preference"
            class="org.grits.toolbox.entry.qrtpcr.preference.QrtPCRMergeTablePreferencePage"
            id="org.grits.toolbox.entry.qrtpcr.table.Merge">
      </page>
      <page
            name="Master Gene List"
            category="org.grits.toolbox.entry.qrtpcr.preference"
            class="org.grits.toolbox.entry.qrtpcr.preference.QrtPCRGeneListTablePreferencePage"
            id="org.grits.toolbox.entry.qrtpcr.geneList">
      </page>
   </extension>
   <extension
         id="org.grits.toolbox.entry.qrtpcr.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.grits.toolbox.entry.qrtpcr.enableExport">
         <or>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="org.grits.toolbox.core.datamodel.Entry">
                  </adapt>
                  <test
                        forcePluginActivation="true"
                        property="org.grits.toolbox.entry.isQrtPCREntry">
                  </test>
               </iterate>
            </with>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.grits.toolbox.entry.qrtpcr.editor">
               </equals>
            </with>
         </or>
      </definition>
      <definition
            id="org.grits.toolbox.entry.qrtpcr.enableRerun">
         <or>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="org.grits.toolbox.core.datamodel.Entry">
                  </adapt>
                  <test
                        forcePluginActivation="true"
                        property="org.grits.toolbox.entry.isQrtPCREntry">
                  </test>
               </iterate>
            </with>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.grits.toolbox.entry.qrtpcr.editor">
               </equals>
            </with>
         </or>
      </definition>
   </extension>

</plugin>
